/**
Bootstrap color input
 */
.form-control-color {
  &::-webkit-color-swatch {
    border: none;
  }
}

/**
Remove the cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/**
Form control dark theme fix
 */
.form-control {
  &::file-selector-button {
    background-color: var(--#{$prefix}btn-color, #{$form-file-button-bg});
  }

  &:hover:not(:disabled):not([readonly])::file-selector-button {
    background-color: var(--#{$prefix}btn-color, #{$form-file-button-hover-bg});
  }
}
.no-border{
  border: none;
}
.no-border:focus{
  outline: none;
}
.border-form{
  border: 1px solid #9e9e9e;
  border-radius: 7px;
  padding: 2px;
}
.selected-filter{
  color: #0085FF;
  border:none;
  background-color: white;
}
.unselected-filter{
  color: #9e9e9e;
  border:none;
  background-color: white;
}
.no-picker{
  background-color: transparent !important;
  box-shadow: none;
}
.no-picker:focus, .no-picker:hover{
  border: none !important;
  box-shadow: none !important;
}

.datepicker td,th{
  text-align: center;
  padding: 8px 12px;
  font-size: 14px;
}